<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>aws eks --region eu-west-1 update-kubeconfig --name eks-Cap
iam_role=`aws iam list-roles | grep eks-Cap-nodes | sed -n &apos;4p&apos; | cut -d &apos;&quot;&apos; -f4`
echo $iam_role
#sed -i &apos;8d&apos; /home/ubuntu/aws-auth-cm.yaml
#cd /home/ubuntu
#ls
#sed -i &quot;8i//   -rolearn: $iam_role&quot; /home/ubuntu/aws-auth-cm.yaml
sed &quot;s/- rolearn:.*/- rolearn: $iam_role/&quot; /home/ubuntu/aws-auth-cm.yaml
#kubectl delete -f aws-auth-cm.yaml
#kubectl create -f aws-auth-cm.yaml
#kubectl get nodes
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>