<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/ubuntu
rm -rf eks-app-platform-config
git clone https://github.com/nagarajui7/eks-app-platform-config.git
cd eks-app-platform-config
mkdir cluster_name_reg
cd /home/ubuntu
cp worker_nodes /home/ubuntu/eks-app-platform-config/cluster_name_reg
cp cluster-info.json /home/ubuntu/eks-app-platform-config/cluster_name_reg
cd eks-app-platform-config
git add .
git status
git commit -m &quot;files&quot;
git push origin master</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>